@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
  --white-color: #fff;
  --primary-color: #eff1f7;
  --secondary-color: #212121;
}

.dark-theme {
  --primary-color: #1b1b32;
  --secondary-color: #fff;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.btn {
  width: 80px;
  align-self: end;
  padding: 3px;
  border: 3px solid var(--secondary-color);
}

header > img {
  cursor: pointer;
  margin-right: 30px;
  width: 2.5rem;
  height: 3rem;
}

h1 {
  font-family: 'Style Script', cursive;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.4rem;
  font-size: 4.5rem;
}

.h1-decoration {
  letter-spacing: 0.5rem;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

h2 {
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}

table,
tr,
th,
td {
  border: 1px solid #ddd;
  background-color: var(--white-color);
}

tbody {
  display: block;
  height: 47vh;
  overflow: auto;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead {
  width: calc(100% - 1em);
}

table {
  width: 400px;
}

.scores-list {
  width: 50%;
  height: 50vh;
  margin: 30px;
}

.form-container {
  width: 50%;
  height: 30vh;
}

form > input,
button {
  margin: 0.5rem;
  padding: 5px 10px;
}

@media screen and (max-width: 992px) {
  h1 {
    letter-spacing: 0.2rem;
    font-size: 2.7rem;
  }

  header > img {
    width: 3rem;
  }

  .section-container {
    padding: 5px;
    flex-direction: column;
  }

  .scores-list,
  .form-container {
    width: 90vw;
    margin: 10px;
  }
}
